
{% load static %}

<html>

    <head>

        <title> Dashboard | Edenthought </title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

    </head>

    {% include 'lynx/account-navbar.html' %}


    <br>
    
    <div class="container bg-white shadow-md p-5 form-layout">


        <h1> Dashboard </h1>

        <hr>

        Welcome, {{user}}!

        <br> <br>

        <img style="width: 100px;" src="{{profilePic.profile_pic.url}}"/>


    </div>


    <script src="{% static 'js/app.js' %}"> </script>


</html>





